.dashboard {
  background-color: #333333;
  min-height: 100vh;
}

.dashboard-header {
  position: fixed;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #2b2b2b;
  padding: 1rem;
  color: white;
}

.dashboard-header-brand {
  width: 50%;
}

.dashboard-header-button {
  width: 50%;
  text-align: end;
}

.header-button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 3px;
  background-color: #ee7147;
  color: white;
  height: 50px;
  width: 150px;
}
.header-button:hover {
  background-color: #d1633f;
}

.dashboard-container {
  min-height: 100vh;
  padding: 6rem 1rem 2rem 1rem;
  margin: 0 1rem 0 1rem;
  color: white;
  background-color: #2f3439;
}
