.loading-mask {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 5;
  background-color: #e5e3d6;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-delay: 1s;
  transition-duration: 1.7s;
}

.lds-dual-ring {
  width: auto;
  height: auto;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 100px;
  height: 100px;
  margin: 1px;
  border-radius: 50%;
  border: 8px solid #c8a374;
  border-color: #c8a374 transparent #c8a374 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loaded {
  opacity: 0;
}
