.about {
  height: 100vh;
  width: 100%;
}

.about-wrapper {
  position: relative;
  left: 200px;
  width: calc(100% - 200px);
  padding: 85px;
  display: flex;
  flex-wrap: wrap;
}

.about-image-container {
  height: 70vh;
  width: 50%;
}

.about-text-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
